<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="style.css">
        <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
    <title>Taller NodeJS con MongoDB</title>
  </head>
  <body>

    <div id=navbar>
      <ul>
        <li><a href="/" class="active" id='linkhome'><i class="fa fa-home" aria-hidden="true"></i> Inicio</a></li>
        <li><a href="/update" id='linknews'><i class="fa fa-refresh" aria-hidden="true"></i> Actualizar </a></li>
        <li><a href="/delete" id='linknews'><i class="fa fa-trash-o" aria-hidden="true"></i> Borrar </a></li>
      </ul>

    </div><!--navbar-->
    <div  id="container" class="formi">
      <h1>Estudiantes y Numeros de control</h1>
